<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Success</title>
	
	<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Success add new Member</h3>
    <p th:text="'Name: ' + ${member.name}" />
    <p th:text="'Mobil Number: ' + ${member.mobileNo}" />
</body>
</html>